<!-- <input type="text" [(ngModel)]="userName" />
<app-child [fromParent]="userName" [skills]="skillList"> </app-child>
<button class='btn btn-primary' (click)="addSkill()"> Add </button>

<button (click)="toggle()">Hide/Show Guest </button>

<app-guest *ngIf="showGuest"></app-guest>

<app-guest>
    <h1>Hello From App Component</h1>
</app-guest> -->
<!-- <input type='text' name='userName' [(ngModel)]='userName'> -->
<app-kid [info]="'Ramesh'" *ngIf='show' [firstName]="'Suresh'" [lastName]="'sharma'">
    <h2>I am from parent</h2>
</app-kid>



<button (click)='toggle()'>Remove Component</button>